*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.margin-page{
    width:80%;
    margin:10%;

}

.flex{
    display: flex;
}

.wdt-100{
    width: 100%
}

h1,h2,h3,h4{
    text-transform:uppercase;
}